/* Background: #f7f7f7 (a light gray)
Text: #333333 (a dark gray)
Accent: #666666 (a medium gray)
Highlight: #999999 (a lighter gray) */

body {
  font-style: italic;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(247, 247, 247);
  /* background-color: rgb(255, 255, 255); */
}


.topnav {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
  overflow: hidden;
  /* width: 100%; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #999999;
  text-align: center;
  padding: 14px 16px;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #68036b;
  color: whitesmoke;
}