body{
    font-style: italic;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}

div {
    width: 50%; /* adjust the width as needed */
    margin: 0 auto; /* this will center the div horizontally */
    position: absolute; /* use absolute positioning to center vertically */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* move back half of its own size so it centers perfectly */
}

headers {
    background-color: antiquewhite;
    display: flex;
    justify-content:first baseline;
}

header {
    background-color: rgb(115, 15, 175);
}

sections {
    background-color: brown;
    display: flex;
    justify-content: space-around;
}

section {
    width: calc(25% - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 10%;
    border: 1px solid black;
}

th {
    background-color: rgb(194, 230, 173);
    color: whitesmoke;
}