<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angel Undeveloped</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <h1> Hello World, this is from the template</h1>
    <table id="my_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for row in manual_table %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.country }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <ul>
        {% for todo in data %}
            <li>{{ todo.name }} - {{ todo.description }}</li>
        {% endfor %}
    </ul>

</body>
<footer>

</footer>

</html>