<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angel Undeveloped</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <h1> Supabase info:</h1>
    <!-- <table id="my_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            {% for row in manual_table %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.country }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->

    <ul>
        {% for patient in supabase_data %}
            <li>
                Patient ID: {{ patient.patient_id }}
                Name: {{ patient.patient_name }}
                Created at: {{ patient.created_at }}
                Alive Status: {{ patient.alive_status }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>